$screen-sm-min: 576px;
$screen-sm-max: ($screen-sm-min - .02);
$screen-md-min: 768px;
$screen-md-max: ($screen-md-min - .02);
$screen-lg-min: 992px;
$screen-lg-max: ($screen-lg-min - .02);
$screen-xl-min: 1200px;
$screen-xl-max: ($screen-xl-min - .02);

@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} }
@mixin sm-max { @media (max-width: #{$screen-sm-max}) {@content;} }
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} }
@mixin md-max { @media (max-width: #{$screen-md-max}) {@content;} }
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} }
@mixin lg-max { @media (max-width: #{$screen-lg-max}) {@content;} }
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} }
@mixin xl-max { @media (max-width: #{$screen-xl-max}) {@content;} }


body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, button.btn {
  &:focus {
    outline: none;
  }
}

@include lg {
  div#ztake {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      z-index: -1;

      width: 35%;

      @include xl {
        width: 45%;
      }

      top: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: repeat-y;
    }

    &:before {
      left: 0;
      background-image: url("../img/corner-left.svg");
    }

    &:after {
      right: 0;
      background-image: url("../img/corner-right.svg");
    }
  }
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: .4px;
  font-size: 22px;
  line-height: 38px
}

header#header {
  .delegate {
    cursor: pointer;
    user-select: none;
    background-color: #3f3cd8;
    text-align: center;
    padding: 15px 40px;
    position: relative;
    color: #fff;
    border: 0;

    @include md-max {
      font-size: 14px;
      padding: 15px 20px;
    }

    @include sm-max {
      font-size: 12px;
    }

    .icon-shield {
      width: 20px;
      height: 24px;
      margin-right: 15px;
      flex: 0 0 20px;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: .25rem;
    }

    .btn-copy {
      padding: 0;
      color: #fff;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: inherit;

      span {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        flex: 0 0 18px;
        margin-left: 5px;
      }
    }
  }

  .navbar-brand {
    color: #3f3cd8;
  }

  .navbar-toggler {
    padding: 10px 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-color: #fff;
    background-color: #fff;
    box-shadow: -0.5px 7px 24px 0 rgba(46, 21, 107, 0.13);

    &-icon {
      display: block;
      margin: 0 auto;
      height: 18px;
      width: 22px;
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2018%22%3E%3Cpath%20stroke%3D%22rgb(63%2C%2060%2C%20216)%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M3%204h16M3%209h16M3%2014h16%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  .navbar-nav {
    .nav-link {
      font-weight: 600;
      letter-spacing: .3px;
      color: #1d0055;
      padding: 14px 0;
      position: relative;

      @include md-max {
        text-align: center;
      }

      &.nuxt-link-exact-active:after {
        @include md {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          background-color: #3f3cd8;
          border-radius: 1.5px;
        }
      }
    }

    li + li {
      @include md {
        margin-left: 1.5rem;
      }
    }
  }
}

.btn {
  &.focus, &:focus, &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }

  &-lg {
    padding: 10px 18px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px;
    letter-spacing: .4px;
    font-weight: 700;

    @include md {
      padding: 16px 32px;
      font-size: 18px;
      height: 60px;
    }

  }

  &-primary {
    border-color: #3f3cd8;
    background-color: #3f3cd8;

    &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
      border-color: #3f3cd8;
      background-color: #3f3cd8;
    }
  }
}

section {
  padding: 80px;

  @include lg-max {
    padding: 40px 0;
    text-align: center;
  }

  @include md-max {
    padding: 30px 0;
  }

  h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: .7px;
    color: #1d0055;
    margin-bottom: 50px;

    @include lg-max {
      text-align: center;
      font-size: 32px;
    }

    @include md-max {
      font-size: 20px;
    }
  }

  p {
    font-size: 14px;
    line-height: 2.14;
    color: #4b5378;

    & + p {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @include lg-max {
      margin: 0 auto 40px auto;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: .4px;
    color: #1d0055;
    margin-bottom: 30px;

    @include md-max {
      font-size: 18px;
    }
  }

  ul {
    font-size: 14px;
    line-height: 2.14;
    color: #4b5378;
    padding: 0;
    margin-bottom: 30px;
    list-style: none;

    @include lg-max {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      position: relative;
      margin-bottom: 20px;

      &:before {
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 10px;
        height: 11px;
        background: url("../img/list-marker.svg") no-repeat center center;
        background-size: 100% 100%;
      }
    }
  }
}

section#intro {
  h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: .9px;
    color: #1d0055;
    margin-bottom: 41px;

    @include lg-max {
      font-size: 40px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    @include md-max {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: .4px;
    color: #1d0055;
    margin-bottom: 30px;
    max-width: 310px;

    @include lg-max {
      margin: 0 auto 40px auto;
      max-width: initial;
    }

    @include md-max {
      font-size: 16px;
    }
  }

  p {
    margin-bottom: 63px;
    max-width: 480px;

    @include lg-max {
      margin: 0 auto 40px auto;
    }
  }

  .btn {
    @include lg-max {
      margin-top: 40px;
    }
  }
}

section#portfolio {
  a:hover {
    text-decoration: none;
  }

  .card {
    padding: 30px;
    flex-direction: row;
    align-items: center;
    border-color: #e9e8f4;
    border-radius: 10px;
    margin: 15px 0;

    @include lg-max {
      text-align: left;
    }

    &:hover {
      box-shadow: 0 20px 40px 0 rgba(63, 60, 216, 0.15);
      background-color: #3f3cd8;
      border-color: #3f3cd8;
      transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;

      .card-title, .status, .card-text {
        color: #fff;
        transition: color .3s;
      }

      .card-logo {
        background-color: rgba(255, 255, 255, .1);
        transition: background-color .3s ease-in-out;
      }

      .status-h {
        color: rgba(255, 255, 255, 0.5);
        transition: color .3s ease-in-out;
      }
    }
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .4px;
    color: #1e1c66;
    margin-bottom: 25px;

    @include md-max {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .card-logo {
    width: 108px;
    height: 108px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    flex: 0 0 108px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md-max {
      width: 86px;
      height: 86px;
      flex: 0 0 86px;
    }
  }

  .card-body {
    padding: 0;
  }

  .status-h {
    letter-spacing: .3px;
    color: #4b5378;
    margin-bottom: 5px;

    @include md-max {
      font-size: 14px;
    }
  }

  .status {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .4px;
    color: #3f3cd8;

    @include md-max {
      font-size: 15px;
    }
  }

  .btn-card {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #3634ba;
    border-color: #3634ba;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
  }

  .cosmos {
    background-color: #17074e !important;
  }

  .poa {
    background-color: #5c2fa5 !important;
  }

  .goerli {
    background-color: #1c1c1c !important;
  }

  .iris {
    background-color: #131837 !important;
  }

  .polkadot {
    background-color: #fff !important;
  }
}

section#reasons {
  @include md {
    text-align: left;
  }

  p {
    max-width: 285px;

    @include lg-max {
      margin-left: 0;
      margin-bottom: 0;
    }

    @include md-max {
      margin-left: auto;
    }
  }

  .col-reason {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .r-icon {
    height: 90px;
    margin-bottom: 40px;
  }
}

section#features {
  .row {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  p {
    max-width: 460px;
  }
}

section#contact {
  form {
    padding: 50px;
    border-radius: 10px;
    box-shadow: -2.1px 29.9px 35px 0 rgba(46, 21, 107, 0.09);
    background-color: #ffffff;
  }

  .input-group {
    margin-bottom: 30px;
  }

  p {
    max-width: 340px;
  }

  @include lg {
    .mailbox:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -12%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/mailbox.svg");
    }

    .btn {
      width: 100%;
    }
  }
}

.form-control {
  border-radius: 30px;
  color: #4b5378;
  border: solid 1px #e8e9ee;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .3px;
  height: 60px;
  padding: 18px 30px;

  @include md-max {
    height: 46px;
    padding: 12px 30px;
  }

  &:focus {
    border-color: #e8e9ee;
    box-shadow: none;
  }
}

.input-group {
  margin-bottom: 1rem;

  @include sm {
    margin-bottom: 0;
  }

  & > .form-control:not(:first-child) {
    border-left: 0;
    padding-left: 0;
  }

  &-text {
    background-color: #fff;
    border-radius: 30px;
    color: #4b5378;
    border: solid 1px #e8e9ee;
    font-size: 14px;
    padding: 18px 20px 18px 30px;

    @include md-max {
      padding: 12px 20px 12px 30px;
    }
  }
}

.icon {
  display: inline-block;
  line-height: 1;
  height: 18px;
  width: 18px;
  vertical-align: middle;

  &-message {
    background-color: #4b5378;
    mask: url("../img/icons/message-icon.svg") no-repeat 50% 50%;
  }

  &-user {
    background-color: #4b5378;
    mask: url("../img/icons/user-icon.svg") no-repeat 50% 50%;
  }

  &-shield {
    background-image: url("../img/icons/shield-icon.svg");
  }

  &-facebook {
    background-image: url("../img/icons/facebook-icon.svg");
  }

  &-github {
    background-image: url("../img/icons/github-icon.svg");
  }

  &-twitter {
    background-image: url("../img/icons/twitter-icon.svg");
  }

  &-copy {
    background-image: url("../img/icons/copy-icon.svg");
  }

  &-check {
    background-image: url("../img/icons/check-icon.svg");
  }

  &-cancel {
    background-image: url("../img/icons/cancel-icon.svg");
  }
}

footer#footer {
  color: #fff;

  .footer {
    background-color: #3f3cd8;
    padding: 10px 0;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .based {
    font-size: 14px;
    font-weight: 500;
    line-height: 2.86;
    letter-spacing: .3px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    @include md-max {
      position: relative;
    }
  }

  ul.social {
    position: relative;
    z-index: 20;

    li {
      margin: 0 8px;
    }

    a {
      height: 32px;
      width: 32px;
      background-color: #fff;
      border-radius: 16px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .disclaimer {
    background-color: #3330ae;
    padding: 20px 0;

    @include md-max {
      text-align: center;
    }

    h6 {
      font-size: 14px;
      margin-bottom: 10px;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}

section#metrics {
  .row > div:nth-child(odd) .metric {
    background-image: url("../img/staking/triangle-up.svg");
    justify-content: flex-end;

    @include md {
      background-image: url("../img/staking/triangle-down.svg");
      justify-content: flex-start;
    }

    &-content {
      padding-bottom: 25px;

      @include md {
        padding-top: 25px;
      }
    }
  }

  .row > div:nth-child(even) .metric {
    background-image: url("../img/staking/triangle-down.svg");
    justify-content: flex-start;

    @include md {
      background-image: url("../img/staking/triangle-up.svg");
      justify-content: flex-end;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    @include sm {
      margin-top: 40px;
    }

    @include xl {
      margin-bottom: 0;
    }

    &-content {
      padding-top: 25px;

      @include md {
        padding-bottom: 25px;
      }
    }
  }

  @include xl {
    .row > div:first-child .metric {
      background-image: url("../img/staking/triangle-down-dark.svg");

      &-content {
        & > div {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }

  .metric {
    text-align: center;
    height: 295px;
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;

    &-content {
      max-width: 140px;
      margin: 0 auto;

      & > div {
        font-size: 40px;

        @include md {
          font-size: 50px;
        }

        font-weight: 700;
        color: #403cd7;
        display: inline-flex;
        line-height: 1.1;

        span {
          font-size: 28px;
          line-height: 34px;

          @include md {
            font-size: 33px;
            line-height: 43px;
          }

          &.tilde {
            align-self: center;
            margin-right: 3px;
          }

          &.percent {
            align-self: flex-start;
            margin-left: 4px;
          }

          &.weeks {
            align-self: flex-end;
            margin-left: 4px;
          }
        }
      }

      p {
        margin-top: .5rem;
        margin-bottom: 0;
      }
    }
  }
}

.no-gutters {
  & > .box {
    padding: 25px;

    @include md {
      padding: 50px;
    }
  }
}

.box {
  padding: 25px;

  @include md {
    padding: 50px;
  }
  border-radius: 10px;
  box-shadow: -2.1px 29.9px 35px 0 rgba(46, 21, 107, 0.09);
  background-color: #ffffff;

  .icon {
    background-color: #403cd7;
  }

  a {
    color: #403cd7;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 0;
  }
}

section#how_to_stake {
  .box {
    p {
        text-align: center;
      }
  }

  .guide {
    padding: 30px 0;

    @include xl {
      padding: 30px 15px;
    }

    display: flex;
    align-items: center;

    @include sm-max {
      flex-direction: column;
    }

    margin: 15px 0;

    &-body {
      @include lg-max {
        text-align: left;
      }
    }

    &-logo {
      width: 200px;
      height: 200px;
      border-radius: 6px;
      border: 1px solid #e9e8ed;
      background-color: #fff;
      flex: 0 0 200px;

      @include sm-max {
        margin-bottom: 30px;
      }

      @include sm {
        margin-right: 30px;
      }

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: .4px;
      color: #1e1c66;
      margin-bottom: 25px;
    }
  }
}


section#history {
  .history {
    @include lg-max {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .history-row {
    text-align: left;

    @extend .box;
    padding: 40px;

    @include sm-max {
      padding: 20px;
    }

    @include lg-max {
      margin-bottom: 50px;
    }

    @include lg {
      padding: 20px 40px 0 40px;
      border-radius: 0;
      &:first-child {
        padding-top: 40px;

        @include sm-max {
          padding-top: 10px;
        }

        padding-bottom: 0;
        border-radius: 10px 10px 0 0;

        .col-history {
          h5 {
            display: block;
          }
        }
      }


      &:last-child {
        padding-bottom: 40px;

        @include sm-max {
          padding-bottom: 20px;
        }

        border-radius: 0 0 10px 10px;
      }
    }

    .col-history {
      display: flex;
      flex-direction: column;

      &.id {
        color: #1d0055;

        p {
          font-weight: 500;
        }
      }

      &.title {
        color: #1d0055;

        p {
          font-weight: 500;
        }
      }

      &.vote {
        color: #3f3cd8;

        @include md-max {
          margin-top: 3rem;
        }

        @include sm-max {
          margin-top: 2rem;
        }

        p {
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      &.abs {
        color: #3f3cd8;

        @include lg-max {
          margin-top: 3rem;
        }

        @include sm-max {
          margin-top: 2rem;
        }

        p {
          font-weight: 500;
        }
      }

      &.expl {
        @include lg-max {
          margin-top: 3rem;
        }

        @include sm-max {
          margin-top: 2rem;
        }

        color: #4b5378;
      }

      h5 {
        font-size: 14px;
        line-height: 2.14;
        color: #1d0055;
        margin-bottom: 2rem;

        @include sm-max {
          margin-bottom: 1rem;
        }

        font-weight: 400;

        @include lg {
          display: none;
        }

      }

      p {
        font-size: 14px;
        line-height: 2.14;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        color: inherit;
        margin-left: 0;

        .icon {
          margin-right: 5px;
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

#newsletter {
  background-color: #f3f8fe;
  padding: 40px 0;

  h4 {
    text-align: center;

    @include md-max {
      font-size: 20px;
    }

    @include lg-max {
      margin-bottom: 1.5rem;
    }
  }

  .btn {
    @include sm-max {
      width: 100%;
    }
  }

  form + .message {
    margin-top: 2rem;
  }

  .message {
    margin-bottom: 0;
    text-align: center;

    &.error {
      color: #721c24;
    }

    &.success {
      color: #155724
    }
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

section#projects {
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include lg {
      justify-content: flex-start;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 52px;
      margin-bottom: 30px;
      margin-left: 50px;
      margin-right: 50px;

      @include lg {
        margin-left: 0;
      }

      @include xl {
        margin-right: 70px;
      }
    }
  }
}

section#glossary {
  .anchors {
    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      color: #1d0055;
      margin-right: 30px;
      padding-bottom: 10px;

      &:hover {
        color: #3f3cd8;
        text-decoration: none;
      }
    }
  }
}

.gaiacli {
  overflow-wrap: break-word;
}